<div class="field" style="margin-top: 25%;">
  <form class="example-form">
    <mat-form-field class="example-full-width" style="width: 220px;">
      <mat-label>Телефон</mat-label>
      <input matInput [(ngModel)]="user.Phone" type="text" name="phone" />
    </mat-form-field>
  </form>
</div>

<div class="field">
  <form class="example-form">
    <mat-form-field class="example-full-width" style="width: 220px;">
      <mat-label>Пароль</mat-label>
      <input matInput [(ngModel)]="user.Password" type="password" name="password" />
    </mat-form-field>
  </form>
</div>

<div class="field">
  <button mat-raised-button color="primary" (click)="loginAsClient(user)" style="width: 220px;">Войти как клиент</button>
</div>

<div class="field">
  <button mat-raised-button color="primary" style="margin-top: 20px; width: 220px;" (click)="loginAsCoach(user);">Войти как тренер</button>
</div>