
<div class="field" style="margin-top: 15%;">
  <form class="example-form">
    <mat-form-field class="example-full-width" style="width: 220px;">
      <mat-label>Дата</mat-label>
      <input matInput [(ngModel)]="reservation.reservationDate" name="date" placeholder="дд-мм-гггг" />
    </mat-form-field>
  </form>
</div>

<div class="field">
  <form class="example-form">
    <mat-form-field class="example-full-width" style="width: 220px;">
      <mat-label>Продолжительность</mat-label>
      <input matInput [(ngModel)]="reservation.duration" name="duration" placeholder="чч:мм" />
    </mat-form-field>
  </form>
</div>

<div class="field">
  <form class="example-form">
    <mat-form-field style="width: 220px;">
        <mat-label>Вид спорта</mat-label>
        <mat-select>
          <mat-option *ngFor="let sport of sports" [value]="sport.name" (click)="reservation.sportId = sport.id">
            {{sport.name}}
          </mat-option>
        </mat-select>
    </mat-form-field>
  </form>
</div>

<div class="field">
  <form class="example-form">
    <button mat-raised-button color="primary" (click)="addReservation(reservation)" style="width: 220px;">Добавить</button>
  </form>
</div>
