<form>
  <div>
    <mat-label>Дата</mat-label>
    <input matInput [(ngModel)]="reservation.reservationDate" name="date" />
  </div>
  <div>
    <mat-label>Продолжительность</mat-label>
    <input matInput [(ngModel)]="reservation.duration" name="duration" />
  </div>
  <div>
    <mat-form-field>
        <mat-label>Вид спорта</mat-label>
        <mat-select>
          <mat-option *ngFor="let sport of sports" [value]="sport.name" (click)="reservation.sportId = sport.id">
            {{sport.name}}
          </mat-option>
        </mat-select>
    </mat-form-field>
</div>
  <div>
    <button (click)="addReservation(reservation)">Добавить</button>
  </div>
</form>