<p>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <div class="toolbar no-select" routerLink="">
            <mat-icon>home</mat-icon>
            <span>Reservation</span>
        </div>
        <span class="example-spacer"></span>
        <div class="toolbar no-select">
            <mat-icon *ngIf="!isLoggedIn()" routerLink="/auth">account_circle</mat-icon>
            <mat-icon (click)="logout()" *ngIf="isLoggedIn()" routerLink="/">logout</mat-icon>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
</p>