<p>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <a href="/">
          <div class="toolbar no-select">
              <mat-icon>home</mat-icon>
              <span>Reservation</span>
          </div>
        </a>
        <span class="example-spacer"></span>
        <div *ngIf="role">Добро пожаловать, {{surname}} {{name}} {{patronymic}}, вы вошли как {{role}}</div>
        <div class="toolbar no-select">
            <mat-icon *ngIf="!isLoggedIn()" routerLink="/auth">login</mat-icon>
            <mat-icon *ngIf="!isLoggedIn()" routerLink="/register">fiber_new</mat-icon>
            <a href="/"><mat-icon (click)="logout()" *ngIf="isLoggedIn()">logout</mat-icon></a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
</p>