<div class="link" routerLink="/add-individual-reservation"><label>Добавить индивидуальное событие</label></div>
<div class="link" routerLink="/add-section-reservation"><label>Добавить событие секции</label></div>
<div class="link" routerLink="/create-individual-record"><label>Записаться на индивидуальное событие</label></div>
<div class="link" routerLink="/add-section"><label>Добавить секцию</label></div>
<div class="link" routerLink="/day-schedule"><label>Получить расписание на день</label></div>
<div class="link" routerLink="/week-schedule"><label>Получить расписание на неделю</label></div>

