<form>
    <div>
      <label>День недели</label>
      <input [(ngModel)]="reservation.dayOfWeek" name="date" type="number" />
    </div>
    <div>
        <label>Время проведения</label>
        <input [(ngModel)]="reservation.time" name="duration" />
    </div>
    <div>
        <label>Продолжительность</label>
        <input [(ngModel)]="reservation.duration" name="duration" />
    </div>
    <div>
        <label>Период проведения</label>
        <input [(ngModel)]="reservation.period" name="sportName" />
    </div>
    <div>
        <mat-form-field>
            <mat-label>Секция</mat-label>
            <mat-select>
              <mat-option *ngFor="let section of sections" [value]="section.name" (click)="reservation.sectionId = section.id">
                {{section.name}}
              </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <button (click)="addReservation(reservation)">Добавить</button>
    </div>
  </form>
