<form>
    <div>
      <label>Имя</label>
      <input [(ngModel)]="newUser.name" type="text" name="name" />
    </div>
    <div>
      <label>Фамилия</label>
      <input [(ngModel)]="newUser.surname" type="text" name="surname" />
    </div>
    <div>
        <label>Отчество</label>
        <input [(ngModel)]="newUser.patronymic" type="text" name="patronymic" />
      </div>
      <div>
        <label>Телефон</label>
        <input [(ngModel)]="newUser.phone" type="text" name="phone" />
      </div>
      <div>
        <label>Пароль</label>
        <input [(ngModel)]="newUser.password" type="password" name="password" />
      </div>
    
    <div>
        <button (click)="registerAsClient(newUser)">Зарегистрироваться как клиент</button>
        <button (click)="registerAsCoach(newUser)">Зарегистрироваться как тренер</button>
    </div>
  </form>
  