<form class="example-form">
    <div>
        <mat-form-field class="example-full-width">
            <mat-label>Дата</mat-label>
            <input matInput [(ngModel)]="date" name="date" placeholder="дд-мм-гггг"/>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="example-full-width">
            <mat-label>Время</mat-label>
            <input matInput [(ngModel)]="time" name="time" placeholder="чч:мм"/>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Вид спорта</mat-label>
            <mat-select>
                <mat-option (click)="sportId=''">Не выбрано</mat-option>
                <mat-option *ngFor="let sport of sports" [value]="sport.name" (click)="sportId = sport.id">
                    {{sport.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <button mat-raised-button color="primary" (click)="getReservations(date, time, sportId)">Найти</button>
    </div>
</form>

<div *ngIf="reservations">
    <mat-card *ngFor="let r of reservations">
        <mat-card-content> 
            <h3>Тренер: {{r.coach.surname}} {{r.coach.name}} {{r.coach.patronymic}}</h3>
            <h3>Телефон тренера: {{r.coach.phone}}</h3>
            <h3>Вид спорта: {{r.sport.name}}</h3>
            <h3>Начало: {{r.date}}</h3>
            <h3>Конец: {{r.endDate}}</h3>
        </mat-card-content>
        <button style="width: 15%;" mat-raised-button color="primary" (click)="createRecord(r.id)">Записаться</button>
    </mat-card>
</div>