<mat-grid-list cols="2" rowHeight="5:1">
    <mat-grid-tile>
        <div>
            <mat-card  style="height: 100px; width: 400px;" routerLink="/create-individual-record">
                <h2 style="margin-top: 25px;">Записаться на индивидуальное событие</h2>
            </mat-card>
            <mat-icon>arrow_right_alt</mat-icon>
        </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <div>
            <mat-card  style="height: 100px; width: 400px;" routerLink="/add-to-section">
            <h2 style="margin-top: 25px;">Записаться на секцию</h2>
            </mat-card>
            <mat-icon>arrow_right_alt</mat-icon>
        </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <div>
            <mat-card  style="height: 100px; width: 400px;" routerLink="/day-schedule">
                <h2 style="margin-top: 25px;">Посмотреть расписание на день</h2>
            </mat-card>
            <mat-icon>arrow_right_alt</mat-icon>
        </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <div>
            <mat-card  style="height: 100px; width: 400px;" routerLink="/week-schedule">
                <h2 style="margin-top: 25px;">Посмотреть расписание на неделю</h2>
            </mat-card>
            <mat-icon>arrow_right_alt</mat-icon>
        </div>
    </mat-grid-tile>
</mat-grid-list>